$white: hsl(0, 0%, 100%);
$light-clr-neutral-300: hsl(0, 0%, 98%);
$light-clr-neutral-500: hsl(0, 0%, 52%);
$light-clr-accent-300: hsl(200, 15%, 8%);
$dark-clr-neutral-300: hsl(209, 23%, 22%);
$dark-clr-neutral-500: hsl(207, 26%, 17%);